{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/vanilla.css' %}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8">
        <article class="question-detail">
            <div class="media">
                {% if question.author.profile.avatar %}
                    <img src="{{ MEDIA_URL }}{{ question.author.profile.avatar.url }}" class="mr-3 avatar" alt="avatar">
                {% else %}
                    <img src="{% static 'image/photo.jpg' %}" class="mr-3 avatar" alt="default avatar">
                {% endif %}
                <div class="media-body">
                    <h2 class="question-title">{{ question.title }}</h2>
                    <p class="question-body">{{ question.content }}</p>
                    <div class="question-tags">
                        {% for tag in tags %}
                        <a href="{% url 'tag_questions' tag_id=tag.id %}" class="badge bg-secondary">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="answers-list mt-4">
                <h3>Answers</h3>
  
                {% for answer in answers %}
                <div class="media mt-3">
                    {% if answer.author.profile.avatar %}
                        <img src="{{ MEDIA_URL }}{{ answer.author.profile.avatar.url }}" class="mr-3 avatar" alt="avatar">
                    {% else %}
                        <img src="{% static 'image/photo.jpg' %}" class="mr-3 avatar" alt="default avatar">
                    {% endif %}
                    <div class="media-body">
                        <p>{{ answer.content }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
            

        </article>
        <div class="answer-form mt-4">
            <h4>Your Answer</h4>
            <form method="post" action="#" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.answer }}
                <button type="submit" class="btn btn-primary">Answer</button>
            </form>
        </div>
        
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>


{% endblock %}
