{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h2>Settings: Dr. Pepper</h2>
        <form method="post" action="#">
            {% csrf_token %}
            <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input type="text" class="form-control" id="login"  name="login" value="dr_pepper">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email"  name="email" value="drpepper@mail.ru">
            </div>
            <div class="mb-3">
                <label for="nickname" class="form-label">NickName</label>
                <input type="text" class="form-control" id="nickname"  name="nickname" value="Dr. Perpper">
            </div>
            <div class="mb-3">
                <label for="avatarUpload" class="form-label">Upload avatar</label>
                <div class="input-group">
                    <input type="file" class="form-control" id="avatarUpload">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}

